* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0; /* Light pastel grey color */
    font-family: Arial, sans-serif; /* Optional: set a default font */
}

header {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}


.responsive-image {
    max-width: 100%;
    height: auto;
}

.logo {
    width: auto;
    height: 80%;
}

.top-bar {
    height: 100px;
    background-color: white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: red;
}

.hamburger {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger.active .bar:nth-child(2) {
     opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    display: block;
}
