* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    background-color: #bab7b7; /* Light pastel grey color */
    font-family: Arial, sans-serif; /* Optional: set a default font */
}

header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* Background color for the header */
    color: #fff; /* Text color for contrast */
    z-index: 1000; /* Ensures the header is on top of other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow effect */
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.top-container {
    background-color: green;
    height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.top-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gradient-overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, black, rgb(48, 48, 48, 0.5));
    
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 1100px) {
    .top-container {
        height: auto;
    }

    .top-container img {
        width: 125%;
        transform: translate(-12.5%, 0%) 
    }
}

/* Second image and info*/

.middle-container {
    background-color: gray;
    height: 200vh;
    width: 100%;
}


/* top bar stuff */

.logo {
    width: auto;
    height: 80%;
}

.top-bar {
    height: 100px;
    background-color: white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: red;
}

.hamburger {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger.active .bar:nth-child(2) {
     opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    display: block;
}

